<p id="notice"><%= notice %></p>

<p>
  <b>Twitter:</b>
  <%= @user.twitter_id %>
</p>

<p>
  <b>Twitter screen name:</b>
  <%= @user.twitter_screen_name %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Profile image url:</b>
  <%= @user.profile_image_url %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
