<h1>Listing search_configurations</h1>

<table>
  <tr>
    <th>Twitter handle</th>
    <th>Twitter search string</th>
    <th>Twitter consumer key</th>
    <th>Twitter consumer secret</th>
    <th>Twitter token</th>
    <th>Twitter secret</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @search_configurations.each do |search_configuration| %>
  <tr>
    <td><%= search_configuration.twitter_handle %></td>
    <td><%= search_configuration.twitter_search_string %></td>
    <td><%= search_configuration.twitter_consumer_key %></td>
    <td><%= search_configuration.twitter_consumer_secret %></td>
    <td><%= search_configuration.twitter_token %></td>
    <td><%= search_configuration.twitter_secret %></td>
    <td><%= link_to 'Show', search_configuration %></td>
    <td><%= link_to 'Edit', edit_search_configuration_path(search_configuration) %></td>
    <td><%= link_to 'Destroy', search_configuration, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search configuration', new_search_configuration_path %>
