!!! 5
%html
  %head
    %title Twitter Search
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .topbar-inner
        .container
          = link_to "Home", root_url, class: "brand"
          = render "layouts/navigation"
    .container
      .row
        .span16
          - unless notice.blank?
            .alert-message.warning
              %p= notice
          - unless alert.blank?
            .alert-message.error
              %p= alert
              
      = yield
